<?xml version="1.0" encoding="utf-8"?>
<CleanupCodeOptions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Debug>false</Debug>
  <Verbosity>INFO</Verbosity>
  <SolutionFile>AgDatabaseMove.sln</SolutionFile>
  <DisabledSettingsLayers />
  <SuppressBuildInSettings>false</SuppressBuildInSettings>
  <Properties />
  <TargetsForReferences />
  <TargetsForItems />
  <Extensions />
  <CustomSettingFile>AgDatabaseMove.sln.DotSettings</CustomSettingFile>
  <CleanupProfileName>AgDatabaseMove</CleanupProfileName>
</CleanupCodeOptions>